<div class="clipspro">
        <div class="clipsdescon">
            <div class="desline">
                <div class="clipdis">Total Clips Watch</div>
                <div class="disres"><span class="replet">4</span></div>
            </div>
            <div class="desline">
                <div class="clipdis">Total Watch Time</div>
                <div class="disres"><span class="replet">40</span>  min</div>
            </div>
        </div>
        <div class="cliprec">
            <table  class="cliptb">
                <tr>
                    <th>Clip Title</th>
                    <th>Time <span style="font-size:0.7rem;">(min)</span></th>
                </tr>
                <tr>
                    <td>Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique labore iusto saepe dolorum quo. Earum laboriosam debitis non blanditiis nostrum quam sapiente nulla. Exercitationem, necessitatibus?
                    <td><span class="replet">4</span></td>
                </tr>
                <tr>
                    <td>game of thrones</td>
                    <td><span class="replet">4</span></td>
                </tr>
                <tr>
                    <td>game of thrones</td>
                    <td><span class="replet">4</span></td>
                </tr>
                <tr>
                    <td>game of thrones</td>
                    <td><span class="replet">4</span></td>
                </tr>
                <tr>
                    <td>game of thrones</td>
                    <td><span class="replet">4</span></td>
                </tr>
                <tr>
                    <td>game of thrones</td>
                    <td><span class="replet">4</span></td>
                </tr>
                <tr>
                    <td>game of thrones</td>
                    <td><span class="replet">4</span></td>
                </tr>
                <tr>
                    <td>game of thrones</td>
                    <td><span class="replet">4</span></td>
                </tr>
                <tr>
                    <td>game of thrones</td>
                    <td><span class="replet">4</span></td>
                </tr>
                <tr>
                    <td>game of thrones</td>
                    <td><span class="replet">4</span></td>
                </tr>
                <tr>
                    <td>game of thrones</td>
                    <td><span class="replet">4</span></td>
                </tr>
            </table>
        </div>
    </div>