<div class="exampro">
        <div class="examdescon">
            <div class="desline">
                <div class="examdis">Total Exam Give</div>
                <div class="disres"><span class="replet">4</span></div>
            </div>
            <div class="desline">
                <div class="examdis">Total Score</div>
                <div class="disres"><span class="replet">40</span></div>
            </div>
        </div>
        <div class="examrec">
            <table class="examtb">
                <tr>
                    <th>Exam ID</th>
                    <th>Total Score</th>
                    <th>Your Score</th>
                    <th>Questions</th>
                    <th>Right</th>
                    <th>Wrong</th>
                    <th>Skip</th>
                    <th>Time<span style="font-size:0.7rem;">(min)</span></th>
                </tr>
                <tr>
                    <td>Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique labore iusto saepe dolorum quo. Earum laboriosam debitis non blanditiis nostrum quam sapiente nulla. Exercitationem, necessitatibus?
                    <td><span class="replet">10</span></td>
                    <td><span class="replet">8</span></td>
                    <td><span class="replet">10</span></td>
                    <td><span class="replet">8</span></td>
                    <td><span class="replet">1</span></td>
                    <td><span class="replet">1</span></td>
                    <td><span class="replet">15</span></td>
                </tr>
                <tr>
                    <td>Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique labore iusto saepe dolorum quo. Earum laboriosam debitis non blanditiis nostrum quam sapiente nulla. Exercitationem, necessitatibus?
                    <td><span class="replet">10</span></td>
                    <td><span class="replet">8</span></td>
                    <td><span class="replet">10</span></td>
                    <td><span class="replet">8</span></td>
                    <td><span class="replet">1</span></td>
                    <td><span class="replet">1</span></td>
                    <td><span class="replet">15</span></td>
                </tr>
                <tr>
                    <td>Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique labore iusto saepe dolorum quo. Earum laboriosam debitis non blanditiis nostrum quam sapiente nulla. Exercitationem, necessitatibus?
                    <td><span class="replet">10</span></td>
                    <td><span class="replet">8</span></td>
                    <td><span class="replet">10</span></td>
                    <td><span class="replet">8</span></td>
                    <td><span class="replet">1</span></td>
                    <td><span class="replet">1</span></td>
                    <td><span class="replet">15</span></td>
                </tr>
            </table>
        </div>
    </div>