 <div class="ovprocon">
        <div class="repline">
            <div class="repdet">Clips Watch</div>
            <div class="repres"><span class="replet">4</span></div>
        </div>
        <div class="repline">
            <div class="repdet">Exams Gives</div>
            <div class="repres"><span class="replet">2</span></div>
        </div>
        <div class="repline">
            <div class="repdet">Score Gain</div>
            <div class="repres"><span class="replet">40</span></div>
        </div>
        <div class="repline">
            <div class="repdet">Time Spent</div>
            <div class="repres"><span class="replet">450</span> min</div>
        </div>
    </div>