 <div class="ovprocon">
        <div class="repline">
            <div class="repdet">Clips Watch</div>
            <div class="repres"><span class="replet">{{{data.todaysClips}}}</span></div>
        </div>
        <div class="repline">
            <div class="repdet">Exams Gives</div>
            <div class="repres"><span class="replet">{{{data.todaysExams}}}</span></div>
        </div>
        <div class="repline">
            <div class="repdet">Score Gain</div>
            <div class="repres"><span class="replet">{{{data.todaysScore}}}</span></div>
        </div>
        <div class="repline">
            <div class="repdet">Time Spent</div>
            <div class="repres"><span class="replet">{{{data.todaysTimeSpent}}}</span> min</div>
        </div>
    </div>