<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bhasya</title>
    <link rel="shortcut icon" href="./Resource/logo.png" type="image/x-icon">
    <script src="https://kit.fontawesome.com/c4cb78a369.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" id="lgcss" href="./lgcss.css">
    <link rel="stylesheet" id="rgcss" href="./rgcss.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Lovers+Quarrel&family=Pacifico&family=Caveat&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Tangerine:wght@400;700&display=swap"
        rel="stylesheet">
</head>

<body>

    <div class="maindiv">
        <header>
            <div class="logo">
                <img class="bhasyalogomain" draggable="false" src="./Resource/logo.png" alt="Bhasya">
            </div>
            <div class="name">
                <h1 class="APPNAME">
                    B<span class="hasya">hasya</span>
                </h1>
            </div>
        </header>
        <main id="maincon">
            <div class="logincon" id="lgcon">
                <div class="loginhead">
                    <div class="left">
                        <h3>Sign In</h3>
                    </div>
                    <div class="right">
                        <h3>
                            <a id="sup" >Sign Up</a>
                        </h3>
                    </div>
                </div>
                <div class="loginbody">
                    <form class="logininfo" action="/login" method="POST">
                        
                        <div class="info">
                            <label for="username">Username</label>
                            <input type="text" placeholder="Username or Email " required class="le" name="username" id="username">
                            <label for="password">Password</label>
                            <input type="password" placeholder="Password" required name="password" id="password">
                            <a href="#">Forget Password!</a>
                        </div>
                        <div class="lgbtn">
                            <button class="btn" type="submit">
                                Login
                            </button>
                        </div>
                    </form>
                    <div class="withother">
                        <div class="orline">
                            <div class="line"></div>
                            <div class="ortxt">OR</div>
                            <div class="line"></div>
                        </div>
                        <div class="loginwith">
                            <p>Login With</p>
                        </div>
                        <div class="social">
                            <div class="go"><i class="fab fa-google"></i></div>
                            <div class="fb"><i class="fab fa-facebook"></i></div>
                        </div>
                        <div class="lastline">
                            <p>Don't have an account? <a id="sup" >Sign Up.</a></p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="logincon" id="rgcon">
                <div class="loginhead">
                    <div class="left">
                        <h3><a id="sin" >Sign In</a></h3>
                    </div>
                    <div class="right">
                        <h3>
                            Sign Up
                        </h3>
                        </div>
                        </div>
                <div class="loginbody">
                    <form class="info" action="/register" method="post">
                    <div class="infoleft">
                            <label for="fullName">Full Name</label>
                            <input type="text" placeholder="Name" id="fullName" name="fullName" required>
                            <label for="uname">Username</label>
                            <input type="text" placeholder="Username" id="uname" name="uname" required>
                            <label for="bday">Birth Date</label>
                            <input type="Date" placeholder="mm-dd-yyyy" id="bday" name="bday" required>
                            <label for="gender">Gender:</label>
                            <div class="custom-radio-group">
                                <label class="custom-radio">
                                    <input type="radio" name="gender"  id="gender" value="Male" required>
                                    <div class="custom-button">Male</div>
                                    </label>
                                <label class="custom-radio">
                                    <input type="radio" name="gender"  id="gender" value="Female">
                                    <div class="custom-button">Female</div>
                                    </label>
                                </label>
                            </div>
                        </div>
                        <div class="inforight">
                            <label for="email">Email</label>
                            <input type="email" placeholder="Email" id="email" name="email" required>
                            <label for="mobile">Mobile</label>
                            <input type="number" placeholder="Mobile" id="number" name="mobile" maxlength="10" pattern="\d{10}"
                                required title="Mobile number must be 10 digits">
                            <label for="password">Password</label>
                            <input type="password" placeholder="Password" id="password" name="password" required>
                            <label for="cpassword">Confirm Password</label>
                            <input type="password" placeholder="Confirm Password" id="cpassword" name="cpassword" required>
                            </div>
                            <div class="lgbtn">
                            <button class="rbtn" type="submit">
                                Register
                            </button>
                        </div>
                    </form>
                    <div class="withother">
                        <div class="orline">
                        <div class="line"></div>
                            <div class="ortxt">OR</div>
                            <div class="line"></div>
                        </div>
                        <div class="loginwith">
                        <p>Login With</p>
                        </div>
                        <div class="social">
                            <div class="go"><i class="fab fa-google"></i></div>
                            <div class="fb"><i class="fab fa-facebook"></i></div>
                        </div>
                        <div class="lastline">
                            <p>Have an account? <a id="sin" >Sign In.</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>

    <script src="./lr.js"></script>
    <script>
        
        // Function to get URL parameters
        function getQueryParam(name) {
            const urlParams = new URLSearchParams(window.location.search);
            return urlParams.get(name);
        }

        // Show alert if there is an error message in the URL
        const errorMessage = getQueryParam('error');
        if (errorMessage) {
            alert(errorMessage);
            window.history.replaceState({}, document.title, window.location.pathname); // Remove error from URL
        }
    </script>
</body>

</html>